search/.metadata/.log
search/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
search/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
search/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
search/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
search/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
search/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
search/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
search/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
search/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.scala-ide.sdt.core.prefs
search/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
search/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
search/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
search/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
search/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
search/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
search/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
search/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
search/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
search/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
search/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
search/.metadata/.plugins/org.scala-ide.sdt.core/scala-ide.log
search/.metadata/version.ini
*.pyc
search/.idea/
search/.project
search/.pydevproject
*/.idea/*